@model HotelBooking.DTO.CustomerDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete Customer";
}

<h2>Delete Customer</h2>

<h3>Are you sure you want to delete this customer?</h3>
<div>
    <h4>Name: @Model.FullName</h4>
    <h4>National ID: @Model.NationalID</h4>
    <h4>Phone Number: @Model.PhoneNumber</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Customers" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
