@{
    ViewData["Title"] = "Home Page";
}

<div style="width:100%">
    <img src="https://images.bubbleup.com/width1920/quality35/mville2017/1-brand/1-margaritaville.com/gallery-media/220803-compasshotel-medford-pool-73868-1677873697-78625-1694019828.jpg"style="width:100%">
</div>
