@model HotelBooking.DTO.HotelBranchDto

@{
    ViewData["Title"] = "Delete Hotel Branch";
}

<h2>Delete Hotel Branch</h2>

<h4>Hotel Branch</h4>
<hr />
<div>
    <h4>Are you sure you want to delete this?</h4>
    <div>
        <h5>@Model.Name</h5>
        <div>
            <p><strong>Address:</strong> @Model.Address</p>
            <p><strong>Phone:</strong> @Model.Phone</p>
        </div>
    </div>
    <form asp-action="ConfirmDelete">
        <input type="hidden" asp-for="BranchID" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-controller="HotelBranches" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>
